PGHOST=aws-1-ap-northeast-1.pooler.supabase.com
PGPORT=xxxx
PGDATABASE=postgres
PGSSLMODE=require
PGUSER=postgres.xxxxxxxxxxxxx
PGPASSWORD=xxxxxxxxxxxxxxx
ENABLE_HEAVY_RAG=0
QUERIONYX_LIGHTWEIGHT_RAG=1
QUERIONYX_CACHE_ENABLED=1
QUERIONYX_MERGE_LLM_ENABLED=0
QUERIONYX_USE_LLM_ROUTER=0
QUERIONYX_RAG_LOW_CONFIDENCE_THRESHOLD=0.6
QUERIONYX_LIGHTWEIGHT_RAG_MS=4000
QUERIONYX_SQL_EXECUTION_MS=5000
QUERIONYX_END_TO_END_MS=10000
QUERIONYX_MAX_CONCURRENCY=2
